<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthsl1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditChannel" android:screenOrientation="portrait"></activity>
        <activity android:name=".DoctorsChannaling" android:screenOrientation="portrait"/>
        <activity android:name=".DoctorBase" android:screenOrientation="portrait"/>
        <activity android:name=".AddChanal" android:screenOrientation="portrait"/>
        <activity android:name=".ChanallingBase" android:screenOrientation="portrait"/>
        <activity android:name=".AdminChanaling" android:screenOrientation="portrait"/>
        <activity android:name=".FirstFillDetails" android:screenOrientation="portrait"/>
        <activity android:name=".Registration" android:screenOrientation="portrait"/>
        <activity android:name=".Home" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>